In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

df = pd.read_csv("/Users/anchanghun/Downloads/AI_Study/dataset/iris/bezdekIris.data")

In [2]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [3]:
df.head(100)

    5.1  3.5  1.4  0.2      Iris-setosa
0   4.9  3.0  1.4  0.2      Iris-setosa
1   4.7  3.2  1.3  0.2      Iris-setosa
2   4.6  3.1  1.5  0.2      Iris-setosa
3   5.0  3.6  1.4  0.2      Iris-setosa
4   5.4  3.9  1.7  0.4      Iris-setosa
..  ...  ...  ...  ...              ...
95  5.7  2.9  4.2  1.3  Iris-versicolor
96  6.2  2.9  4.3  1.3  Iris-versicolor
97  5.1  2.5  3.0  1.1  Iris-versicolor
98  5.7  2.8  4.1  1.3  Iris-versicolor
99  6.3  3.3  6.0  2.5   Iris-virginica

[100 rows x 5 columns]

In [4]:

new_columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

d = df.values.tolist()
de = df.columns.tolist()
d= np.vstack((d,de))


# 새로운 데이터프레임을 생성
df = pd.DataFrame(d, columns=new_columns)

In [5]:
df["class"].dtypes

dtype('O')

In [6]:
df['class'] = df['class'].apply(lambda x: 1 if x == 'Iris-versicolor' else (2 if x == 'Iris-virginica' else 0))

In [7]:
df.head(100)

   sepal length sepal width petal length petal width  class
0           4.9         3.0          1.4         0.2      0
1           4.7         3.2          1.3         0.2      0
2           4.6         3.1          1.5         0.2      0
3           5.0         3.6          1.4         0.2      0
4           5.4         3.9          1.7         0.4      0
..          ...         ...          ...         ...    ...
95          5.7         2.9          4.2         1.3      1
96          6.2         2.9          4.3         1.3      1
97          5.1         2.5          3.0         1.1      1
98          5.7         2.8          4.1         1.3      1
99          6.3         3.3          6.0         2.5      2

[100 rows x 5 columns]

In [8]:
df.head(100)

   sepal length sepal width petal length petal width  class
0           4.9         3.0          1.4         0.2      0
1           4.7         3.2          1.3         0.2      0
2           4.6         3.1          1.5         0.2      0
3           5.0         3.6          1.4         0.2      0
4           5.4         3.9          1.7         0.4      0
..          ...         ...          ...         ...    ...
95          5.7         2.9          4.2         1.3      1
96          6.2         2.9          4.3         1.3      1
97          5.1         2.5          3.0         1.1      1
98          5.7         2.8          4.1         1.3      1
99          6.3         3.3          6.0         2.5      2

[100 rows x 5 columns]

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [10]:
X = df.drop('class',axis=1)
X.head()

  sepal length sepal width petal length petal width
0          4.9         3.0          1.4         0.2
1          4.7         3.2          1.3         0.2
2          4.6         3.1          1.5         0.2
3          5.0         3.6          1.4         0.2
4          5.4         3.9          1.7         0.4

In [11]:
y = df['class']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X,
                                                  y,
                                                  test_size=0.2,
                                                  shuffle=True,
                                                  random_state=12)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(120, 4) (120,)
(30, 4) (30,)

In [13]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ly_preds = model.predict(X_test)
mse = np.sqrt(mean_squared_error(ly_preds, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.21338549279513583

In [14]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

dy_preds = model.predict(X_test)
mse = np.sqrt(mean_squared_error(dy_preds, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.18257418583505536

In [15]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ry_preds = model.predict(X_test)
mse = np.sqrt(mean_squared_error(ry_preds, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.07375635565834311

In [16]:
from sklearn.svm import SVR

model = SVR(kernel='linear')
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ry_preds = model.predict(X_test)
mse = np.sqrt(mean_squared_error(ry_preds, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.21913510590124904